<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFMG</title>
</head>
<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScJmYPr8ES041zJ9n9HSaTwKQ0i7mYP-kgDw&usqp=CAU" alt="">
    {% block body %}{% endblock %}
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit reprehenderit nostrum eveniet aspernatur odio cumque, laborum fuga aliquam aperiam mollitia nemo soluta quo. Fugiat consequuntur dolorum, quod iste aliquid nihil?</p>

    
</body>
</html>